<div>
    <div class="title">
        THE FORUM
    </div>
    <form class="input">
        <input id="username" type="text" class="inputText" ng-model="username" placeholder="Username..."/><br><br><br>
        <input id="password" type="password" class="inputText" ng-model="password" placeholder="Password..."/><br><br><br>

        <button id="loginButton" type="button" class="button" ng-click="logIn()"><span>LOGIN</span></button>
        <button id="createUser" type="button" class="button moveRight" ng-click="goToCreate()" style="width: 180px" ><span>CREATE USER</span></button>
    </form>
</div>