body {
    margin: auto;
    background: radial-gradient(farthest-side at 50%, #2196F3, #42A5F5);
}

.title {
    font-family: tahoma;
    color: whitesmoke;
    font-size: 60;
    margin: auto;
    font-weight: 600;
    margin-top: 15%;
    margin-left: 20%;
}

.subTitle {
    font-family: tahoma;
    color: whitesmoke;
    font-size: 40;
    margin: auto;
    font-weight: 600;
    margin-top: 7%;
    margin-left: 15%;
}

.message {
    font-family: tahoma;
    color: whitesmoke;
    font-size: 20;
    margin-left: 3%;
}

.input {
    margin-top: 2%;
    margin-left: 20%;
}

.createAccountInput {
    margin-top: 2%;
    margin-left: 15%;
}

.inputText {
    width: 800px;
    height: 50px;
    font-size: 28;
    padding-left: 20px;
    border: 3px solid #9EA9AB;
    
}

.createAccountInputText {
    width: 700px;
    height: 40px;
    font-size: 20;
    padding-left: 20px;
    border: 3px solid #9EA9AB;
}

.inputText:focus {
    border: 3px solid #282B2B;
    transition: 0.5s;
}

.createAccountInputText:focus {
    border: 3px solid #282B2B;
    transition: 0.5s;
}

/* BUTTONS IN LOGIN */

.button {
    width: 125;
    height: 50;
    font-size: 16;
    color: whitesmoke;
    background-color: #455A64;
    border: none;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.button span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.button.moveRight {
    margin-left: 50px;
}

.button:hover {
    background-color: #37474F;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span::after {
    opacity: 1;
    right: 0;
}

.button:active {
    background-color: #263238;
    border: 2px solid #1D272B;
}

/* BUTTONS IN CREATE ACCOUNT*/

.createUserButton {
    width: 125;
    height: 50;
    font-size: 16;
    color: whitesmoke;
    background-color: #2E7D32;
    border: none;
    cursor: pointer;
}

.createUserButton.moveRight {
    margin-left: 25px;
    background-color: #C62828;
}

.createUserButton:hover {
    background-color: #1B5E20;
}

.createUserButton.moveRight:hover {
    background-color: #B71C1C;
}

.createUserButton:active {
    background-color: #263238;
    border: 2px solid #1D272B;
}